.single-stat-box
  min-height: 330px

+mobile
  .navbar
    position: fixed
    top: 0
    width: 100%
    background-color: rgba(14, 11, 35, .9) !important

  body
    padding-top: 125px

  .single-stat-box
    min-height: auto
    & > div:first-child
      padding-bottom: 1rem




+touch
  .main-content
    padding: 0 1.8rem