+tablet
  .footer-info .last-updated-bottom
    left: 50%
    transform: translateX(-50%) translateY(-50%)

.footer-info
  position: relative
  height: 60px


+tablet
  .footer-info .last-updated-bottom
    left: 50%
    transform: translateX(-50%) translateY(-50%)