@keyframes spinAround {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }
.navbar {
  background-color: transparent !important;
  padding: 0.5rem 1rem 1rem 1rem;
  font-weight: 500; }

.navbar-menu {
  background-color: transparent !important; }

.mobile-nav-section {
  padding: 0.3rem 0.75rem 0 0.75rem;
  margin-bottom: 0.3rem !important; }
  .mobile-nav-section a {
    padding-bottom: 0.6rem; }
  .mobile-nav-section:after {
    content: " ";
    width: 100%;
    height: 1px;
    display: block;
    margin-top: -0.5px; }

a.navbar-item {
  font-size: 14px;
  transition: all 250ms ease; }
  a.navbar-item.is-active {
    background-color: transparent; }
  a.navbar-item:hover {
    background-color: transparent; }

@media screen and (max-width: 768px) {
  .navbar {
    position: fixed;
    top: 0;
    width: 100%; } }
@media screen and (min-width: 769px), print {
  .navbar {
    padding-left: 2.1rem;
    padding-right: 2.1rem; } }
@media screen and (min-width: 769px), print {
  .footer-info .last-updated-bottom {
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-weight: 600; } }
.footer-info {
  position: relative;
  height: 60px; }

@media screen and (max-width: 768px) {
  .footer-info {
    margin-top: -2rem; } }
.chart-section {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }
  .chart-section > div {
    padding: 1.75rem; }
  .chart-section .title h2 {
    font-size: 56px;
    letter-spacing: -1.95px;
    font-weight: 700; }
  .chart-section .title span {
    display: block;
    font-size: 14px;
    letter-spacing: 1px;
    margin-top: -45px;
    margin-left: 20px; }

.chart-box {
  border-radius: 4px;
  position: relative; }
  .chart-box .chart-box__number {
    font-size: 36px;
    font-weight: 600;
    letter-spacing: -0.5px;
    line-height: 34px;
    right: 2rem;
    top: 2rem;
    position: absolute; }

.chart-box__stat {
  padding: 2rem; }
  .chart-box__stat h2 {
    font-size: 46px;
    font-weight: 600;
    letter-spacing: -2px;
    line-height: 46px;
    display: inline-block; }
  .chart-box__stat div {
    border-radius: 4px;
    display: inline-block;
    padding: 0.2em 0.5em;
    vertical-align: top;
    margin-left: 1.2rem;
    margin-top: 0.3rem;
    color: #fff;
    font-weight: 600; }
  .chart-box__stat.chart-box__stat.is-positive div {
    background-color: #53B167; }
  .chart-box__stat.chart-box__stat.is-negative div {
    background-color: #D42351; }

.chart-box__info {
  padding: 2.5rem 2rem 0.7rem 2rem; }
  .chart-box__info h3 {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.78px;
    line-height: 14px; }
  .chart-box__info div {
    padding-top: 1em;
    font-size: 14px;
    width: 195px;
    line-height: 20px; }

.time-toggles.is-hidden-mobile {
  position: absolute;
  top: 2rem;
  right: 2rem; }
.time-toggles.is-hidden-tablet {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1.5rem; }
.time-toggles button {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.78px;
  line-height: 16px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0.7em;
  border-radius: 3px;
  transition: 250ms all ease;
  margin-left: 0.5em; }

@media screen and (max-width: 768px) {
  html .chart-section > div {
    border: none;
    background-color: transparent; }
  html .chart-box--main {
    border: none;
    margin-left: -30px;
    margin-right: -30px; }
  html .chart-section__heading {
    justify-content: flex-end; }
    html .chart-section__heading .level-right {
      flex-direction: column;
      align-items: flex-end; }
      html .chart-section__heading .level-right button {
        font-size: 16px;
        margin-bottom: 0.3em; }
  html .chart-box--main {
    position: static; }
  html .chart-box__stat {
    position: absolute;
    top: 1.3rem;
    left: 0; }
    html .chart-box__stat > div {
      display: table;
      margin-left: 0;
      margin-top: 1.3rem;
      font-size: 18px; } }
@media screen and (min-width: 1260px) {
  .chart-section > div {
    margin-left: -30px;
    margin-right: -30px; } }
.currency-toggles button.is-link {
  border-radius: 4px;
  padding: 0.65em 1em 0.65em 2.8em;
  height: auto;
  position: relative;
  transition: 250ms all ease; }
  .currency-toggles button.is-link span {
    display: inline-block; }
  .currency-toggles button.is-link.is-active {
    border-radius: 4px; }
  .currency-toggles button.is-link:before {
    content: " ";
    display: block;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    margin-right: 10px;
    position: absolute;
    top: 50%;
    left: 1em;
    transform: translateY(-50%); }
  .currency-toggles button.is-link:focus {
    background-color: transparent; }

@media screen and (max-width: 768px) {
  .chart-box__info {
    padding: 1.625rem 1.3rem 0.455rem 1.3rem; } }
@media screen and (min-width: 769px), print {
  .chart-box__info {
    min-height: 140px; } }
.single-stat-box {
  min-height: 300px;
  border-radius: 4px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  transition: all 200ms ease;
  cursor: pointer; }
  .single-stat-box:hover {
    transform: scale(1.05); }

.single-stat-box__bottom h3 {
  font-size: 14px;
  padding-bottom: 0.5em;
  font-weight: 600;
  letter-spacing: 0.5px; }
.single-stat-box__bottom p {
  font-size: 14px;
  line-height: 20px;
  max-width: 254px; }

.single-stat-box__stats {
  flex-grow: 1; }
  .single-stat-box__stats h2 {
    font-size: 40px;
    line-height: 40px;
    padding-bottom: 18px;
    font-weight: 600; }
  .single-stat-box__stats div {
    border-radius: 4px;
    display: inline-block;
    padding: 0.2em 0.5em;
    color: #fff;
    font-weight: 600;
    letter-spacing: -0.5px; }

.single-stat-box__stats.is-positive h2 {
  color: #53B167; }
.single-stat-box__stats.is-positive div {
  background-color: #53B167; }

.single-stat-box__stats.is-negative h2 {
  color: #D42351; }
.single-stat-box__stats.is-negative div {
  background-color: #D42351; }

@media screen and (max-width: 768px) {
  .single-stat-box {
    padding: 1.3rem;
    min-height: auto; }
    .single-stat-box > div:first-child {
      padding-bottom: 1rem; }

  .single-stat-box__stats h2 {
    float: left; }
  .single-stat-box__stats div {
    float: right; } }
.chart-tooltip-box {
  border-radius: 4px;
  padding: 10px;
  text-align: right;
  overflow: visible;
  box-shadow: 0 5px 10px 0 rgba(255, 255, 255, 0.06); }
  .chart-tooltip-box .USD {
    color: #53b167;
    padding-right: 10px;
    padding-left: 5px;
    font-size: 14px; }
  .chart-tooltip-box .ETH {
    color: #42217e;
    padding-right: 10px;
    padding-left: 5px;
    font-size: 14px; }
  .chart-tooltip-box .text {
    letter-spacing: -0.49px; }
  .chart-tooltip-box .value {
    font-size: 14px;
    font-variant: tabular-nums; }
  .chart-tooltip-box .dateSm {
    padding: 10px;
    font-size: 11px;
    letter-spacing: 0.56px; }

*:focus {
  outline: 0; }

@media screen and (max-width: 768px) {
  body {
    padding-top: 127px; }

  .is-mobile.justified-content-center {
    justify-content: center; }

  .navbar {
    padding-left: calc(1rem - 10px);
    padding-right: calc(1rem - 10px); }

  .single-stat-box {
    margin-left: -10px;
    margin-right: -10px; }

  .chart-box__stat {
    margin-left: -10px; }

  .chart-section__heading {
    margin-left: -10px;
    margin-right: -10px;
    padding-bottom: 0; }
    .chart-section__heading .level-right {
      margin-right: -10px; }

  .chart-box {
    margin-left: -10px;
    margin-right: -10px; }
    .chart-box .chart-box__number {
      top: 1.3rem;
      right: 1.3rem;
      font-size: 30px; }

  .chart-box--main {
    margin-top: -20px; }
    .chart-box--main h2 {
      font-size: 36px; } }
.dashboard-root {
  position: relative; }

@media screen and (max-width: 1259px) {
  .main-content {
    padding: 0 1.8rem; } }
.rounded-box, .theme-switcher, .last-updated-bottom, .theme-switcher.light {
  font-size: 12px;
  position: absolute;
  left: 0;
  top: 45%;
  transform: translateY(-50%);
  padding: 5px 15px;
  border-radius: 100px; }

.theme-switcher {
  cursor: pointer;
  right: 0;
  left: unset !important;
  padding-right: 30px; }
  .theme-switcher > * {
    cursor: pointer; }
  .theme-switcher label {
    text-transform: capitalize; }

.last-updated-top {
  font-size: 12px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 25px;
  padding: 5px 15px;
  border-radius: 100px;
  font-weight: 600; }

.position-relative {
  position: relative; }

.theme-switcher.light {
  padding-left: 30px;
  padding-right: 15px;
  border: 1px solid #EBE9F6; }
  .theme-switcher.light:before {
    content: " ";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    left: 7px;
    top: 50%;
    transform: translateY(-50%);
    background: #FFFFFF;
    border: 1px solid #EBE9F6; }
  .theme-switcher.light:after {
    display: none; }

.button.is-link {
  font-size: 14px;
  letter-spacing: 0.78px;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: 600;
  transition: 0.2s; }
  .button.is-link:hover {
    background-color: #25244B; }
  .button.is-link.is-active {
    border-radius: 3px; }

/*# sourceMappingURL=main.css.map */
